{% extends "template-form.html" %} {% block conteudo %}

<main class="form-signin w-100 m-auto">
  <form method="post" action="/alterar-venda-bd?nf={{ venda.nf }}">
    <h1 class="h3 mb-3 fw-normal">Alterar venda</h1>

    <div class="form-floating">
      <input
        type="number"
        class="form-control"
        id="floatingInput"
        name="nf"
        value="{{ venda.nf }}"
      />
      <label for="floatingInput">N° da Nota Fiscal</label>
    </div>

    <div class="form-floating">
      <input
        type="date"
        class="form-control"
        id="floatingPassword"
        name="data"
        value="{{ venda.data }}"
      />
      <label for="floatingPassword">Data da venda</label>
    </div>

    <div class="form-floating">
      <input
        type="number"
        class="form-control"
        id="floatingPassword"
        name="empresa"
        maxlength="2"
        max="11"
        value="{{ venda.empresa }}"
      />
      <label for="floatingPassword">Empresa (Digite o n°)</label>
    </div>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingPassword"
        name="vendedor"
        value="{{ venda.vendedor }}"
      />
      <label for="floatingPassword">Vendedor(es)</label>
    </div>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingPassword"
        name="cliente"
        value="{{ venda.cliente }}"
      />
      <label for="floatingPassword">Nome do Cliente/Empresa</label>
    </div>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingPassword"
        name="produto"
        value="{{ venda.produto }}"
      />
      <label for="floatingPassword">Nome do produto</label>
    </div>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingPassword"
        name="estado"
        value="{{ venda.estado }}"
      />
      <label for="floatingPassword">UF do Cliente/Empresa</label>
    </div>

    <div class="form-floating">
      <input
        type="number"
        class="form-control"
        id="floatingPassword"
        name="valor"
        value="{{ venda.valor }}"
      />
      <label for="floatingPassword">Valor da venda (ex. 2160.00)</label>
    </div>

    <div class="form-floating">
      <input
        type="number"
        class="form-control"
        id="floatingPassword"
        name="valor_final"
        value="{{ venda.valor_final }}"
      />
      <label for="floatingPassword">Valor da venda final (ex. 2160.00)</label>
    </div>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingPassword"
        name="parceiro"
        value="{{ venda.parceiro }}"
      />
      <label for="floatingPassword"
        >Nome do Parceiro (caso não tenha, digite "--")</label
      >
    </div>

    <button class="btn btn-primary w-100 py-2 my-3" type="submit">
      Enviar
    </button>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
  </form>
</main>
{% endblock %}
