{% extends "template-form.html" %} {% block conteudo %}
<main class="form-signin w-100 m-auto">
  <form
    method="post"
    action="/alterar-cadastro-bd?usuario={{ usuario.id_user }}"
  >
    <h1 class="h3 mb-3 fw-normal">{{ header_title }}</h1>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        name="nome_de_usuario"
        placeholder="Nome de Usuário"
        value="{{ usuario.nome_de_usuario }}"
      />
      <label for="floatingInput">Nome de Usuário</label>
    </div>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        name="nome"
        placeholder="Nome Completo"
        value="{{ usuario.nome }}"
      />
      <label for="floatingInput">Nome Completo</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        name="senha_do_usuario"
        placeholder="Senha"
        value="{{ usuario.senha }}"
      />
      <label for="floatingPassword">Senha</label>
    </div>

    <div class="form-floating">
      <select name="supervisao" id="supervisao" class="form-select">
        {% if usuario.supervisor == 1 %}
        <option value="1">Sim</option>
        <option value="0">Não</option>
        {% else %}
        <option value="0">Não</option>
        <option value="1">Sim</option>
        {% endif %}
      </select>
      <label for="supervisao">Supervisiona?</label>
    </div>

    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingPassword"
        name="email"
        placeholder="Email"
        value="{{ usuario.email }}"
      />
      <label for="floatingPassword">Email</label>
    </div>

    <div class="form-floating">
      <input
        type="tel"
        class="form-control"
        id="floatingPassword"
        name="telefone"
        placeholder="Telefone"
        value="{{ usuario.telefone }}"
      />
      <label for="floatingPassword">Telefone</label>
    </div>

    <button class="btn btn-primary w-100 py-2 my-3" type="submit">
      Alterar
    </button>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
  </form>
</main>
{% endblock %}
