{% extends "template-form.html" %} {% block conteudo %}
<main class="form-signin w-100 m-auto">
  <form method="post" action="/criar-novo-usuario">
    <h1 class="h3 mb-3 fw-normal">{{ header_title }}</h1>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        name="nome_de_usuario"
        placeholder="Nome de Usuário"
      />
      <label for="floatingInput">Nome de Usuário</label>
    </div>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        name="nome"
        placeholder="Nome Completo"
      />
      <label for="floatingInput">Nome Completo</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        name="senha_do_usuario"
        placeholder="Senha"
      />
      <label for="floatingPassword">Senha</label>
    </div>

    <div class="form-floating">
      <select name="supervisao" id="supervisao" class="form-select">
        <option value="0">Não</option>
        <option value="1">Sim</option>
      </select>
      <label for="supervisao">Supervisiona?</label>
    </div>

    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingPassword"
        name="email"
        placeholder="Email"
      />
      <label for="floatingPassword">Email</label>
    </div>

    <div class="form-floating">
      <input
        type="tel"
        class="form-control"
        id="floatingPassword"
        name="telefone"
        placeholder="Telefone"
      />
      <label for="floatingPassword">Telefone</label>
    </div>
    <button class="btn btn-primary w-100 py-2 my-3" type="submit">
      Cadastrar
    </button>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
  </form>
</main>
{% endblock %}
