{% extends "template-form.html" %} {% block conteudo %}

<main class="form-signin w-100 m-auto">
  <form method="post" action="/autenticar">
    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        name="nome_de_usuario"
        placeholder="Nome de Usuário"
      />
      <label for="floatingInput">Nome de Usuário</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        name="senha_do_usuario"
        placeholder="Senha"
      />
      <label for="floatingPassword">Senha</label>
    </div>

    <div class="form-check text-start my-3">
      <input
        class="form-check-input"
        type="checkbox"
        value="remember-me"
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Lembrar senha
      </label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
  </form>
</main>

{% endblock %}
