{% extends "template-form.html" %} {% block conteudo %}

<main class="form-signin w-100 m-auto">
  <form method="post" action="/inserir">
    <h1 class="h3 mb-3 fw-normal">Nova venda</h1>

    <div class="form-group">
      {{ form.nf.label() }} {{ form.nf(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.data.label() }} {{ form.data(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.empresa.label() }} {{ form.empresa(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.vendedor.label() }} {{ form.vendedor(class="form-select") }}
    </div>

    <div class="form-group">
      {{ form.cliente.label() }} {{ form.cliente(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.produto.label() }} {{ form.produto(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.estado.label() }} {{ form.estado(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.valor.label() }} {{ form.valor(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.valor_final.label() }} {{ form.valor_final(class="form-control")
      }}
    </div>

    <div class="form-group">
      {{ form.parceiro.label() }} {{ form.parceiro(class="form-control") }}
    </div>

    <div>{{ form.enviar(class="btn btn-primary w-100 py-2 my-3") }}</div>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
  </form>
</main>

{% endblock %}
